<h1>Student Dashboard</h1>

<table>
  <tbody>
    <tr><td>
      <% student = Student.find_by_id(session[:student_id]) %>
      <%= student.name %></td></tr>
    <tr>
      <% Grade.get_assignments_for_student_email( student.student_email ).each do |grade| %>
        <tr>
          <td><%= grade.assignment_name %></td>
          <td><%= grade.score %></td>
          <td><%= grade.due_on %></td>
        </tr>
      <% end %>
    </tr>
  </tbody>
</table>

<%= link_to 'Change your password', edit_student_path(Student.find_by(id: session[:student_id] )) %>
