<%= form_for(@achievement) do |f| %>
<% if @achievement.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@achievement.errors.count, "error") %> prohibited this item from being saved:</h2>

  <ul>
    <% @achievement.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="field">
  <%= f.label "achievement for:" %><br>
  <%= f.select :student_email, options_for_select(Student.get_all_children_email_pairs), include_blank: true %>
</div>

<div class="field">
  <%= f.label :name %><br>
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :date %><br>
  <%= f.text_field :date %>
</div>
<div class="field">
  <%= f.label :point_value %><br>
  <%= f.number_field :point_value %>
</div>

<div class="actions">
  <%= f.submit %>
</div>
<%= link_to 'Delete this item', @achievement, method: :delete, data: { confirm: 'Are you sure?' } %>

<% end %>
